/* style.css*/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root{
    /* Font styles*/
    --primary-font: "Playfair Display", serif;
    --secondary-font: "Montserrat", sans-serif;

    /*Colors*/
    --primary-color: #989FCE;
    --secondary-color: white;
}



body {
    overflow-x: hidden;
}

.name{
  margin-top: 1rem;
  color: var(--secondary-color);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9)
}

.h-background{
    position: relative;
    height: auto;
   
}

.h-background::before{
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    width: 150%;
    height: 150%;
    top: -67%;
    left: -35%;
    transform: rotate(55deg);
    box-shadow: 10px 10px 5px grey;
    z-index: -1;
}

h1,
h2 {
    font-family: var(--primary-font);
}

h2{
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4)
}

p{
    font-family: var(--secondary-font);
}

.h-photo{
    height: auto;
    margin: 1rem 1rem 1rem;
}

.h-photo img{
  height: 100%;
  width: 100%;
}

.about-me{
  margin: 3rem 1.5rem 1.5rem;
}

.center-it{
    text-align: center;
}

.about-logos{
  display: flex;
  justify-self: center;
  gap: .4rem;
  margin-top: .2rem;
}

.mid-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.project-box{
  display: flex;
  flex-direction: column;
  justify-self: center;
  box-shadow: 0 0 10px 5px grey;
  width: 90%;
  height: auto;
}

.pb-top.box-two {
  background-color: #989FCE;
}

.pb-top.box-three {
  background-color: #F26419;
}

.pb-top.box-four {
  background-color: #2F4858;
}

.pb-top.box-five {
  background-color: #63A375;
}

.pb-top.box-six {
  background-color: #D57A66;
}

.pb-top{
  display: flex;
  align-items: center;
  color: white;
  font-family: var(--primary-font);
  
  font-size: xx-large;
  padding: 2.5rem;
  background-color: #33658A;
  min-height: 240px;
}

.pbb-top{
  justify-self: center;
  padding: 1.2rem;
  display: flex;
  gap: 5rem;
}

.project-name{
  font-weight: bolder;
}

.work-logos{
  display: flex;
  gap: .5rem;
}

.work-description{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.footer{
  height: auto;
  background-color: var(--primary-color);
  margin-top: 6rem;
  box-shadow: 0px -5px 5px grey;
  color: var(--secondary-color);

  padding-top: 3rem;
}

.f-header{
  
  font-family: var(--primary-font);
}

.f-para,
.f-addresses,
.f-contact-info{
  padding: 1rem;
}

.f-image{
  padding-top: 3rem;
  width: 100%;
  height: auto;
}

.ghub-icon,
.linked-icon,
.phone-icon,
.email-icon,
.expand-icon{
   
    width: 1rem;
    height: auto;
}

.ghub-icon:hover,
.linked-icon:hover,
.phone-icon:hover,
.email-icon:hover,
.expand-icon:hover{
   
    transform: scale(1.1);
}

.ghub-icon:active,
.linked-icon:active,
.phone-icon:active,
.email-icon:active,
.expand-icon:active{
   
    transform: scale(1);

}