/* style.css*/

:root{
    /* Font styles*/
    --primary-font: "Playfair Display", serif;
    --secondary-font: "Montserrat", sans-serif;

    /*Colors*/
    --primary-color: #989FCE;
    --secondary-color: white;
}

body{
    background-color: var(--primary-color);
   
    
}

.ghub-icon,
.linked-icon,
.phone-icon,
.email-icon,
.expand-icon{
    width: 1rem;
    height: auto;
}